<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="Fn Mapping Tool"
    Manufacturer="Fn Mapping Tool"
    Version="$(var.ProductVersion)"
    UpgradeCode="D69D1A6E-0297-4C76-89FB-C871BD03F540"
    Scope="perMachine"
    InstallerVersion="500"
    Language="1033">

    <SummaryInformation Description="Fn Mapping Tool installer" Manufacturer="Fn Mapping Tool" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Fn Mapping Tool is already installed." />

    <Icon Id="AppIcon.ico" SourceFile="..\..\assets\app\app.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    <Property Id="ARPNOREPAIR" Value="1" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="FnMappingTool" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="Fn Mapping Tool" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Fn Mapping Tool" Level="1">
      <ComponentGroupRef Id="PortableFiles" />
      <ComponentGroupRef Id="StartMenuShortcuts" />
    </Feature>
  </Package>

  <Fragment>
    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="StartMenuShortcutsComponent" Guid="5907B71A-2427-4619-8B8A-55F5C14F881F">
        <Shortcut
          Id="StartMenuAppShortcut"
          Name="Fn Mapping Tool"
          Description="Open Fn Mapping Tool"
          Target="[INSTALLFOLDER]FnMappingTool.Controller.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppIcon.ico" />
        <Shortcut
          Id="StartMenuUninstallShortcut"
          Name="Uninstall Fn Mapping Tool"
          Description="Remove Fn Mapping Tool"
          Target="[System64Folder]msiexec.exe"
          Arguments="/x [ProductCode]"
          Icon="AppIcon.ico" />
        <RemoveFolder Id="RemoveProgramMenuDir" On="uninstall" />
        <RegistryValue
          Root="HKLM"
          Key="Software\FnMappingTool"
          Name="StartMenuShortcuts"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="StartMenuShortcuts">
      <ComponentRef Id="StartMenuShortcutsComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>
