# Build outputs
/build/
/portable/
**/bin/
**/obj/
**/publish/
*.nupkg
*.snupkg

# IDE / editor
/.vs/
/.idea/
/.vscode/
*.suo
*.user
*.userosscache
*.rsuser
*.sln.docstates

# Local tooling / temp
*.log
*.tmp
*.temp
*.cache
*.pid
assets/osd/SVG/

# OS files
Thumbs.db
Desktop.ini
.DS_Store
